.HeroSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    width: 100%;
}

.HeroContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}

.HeroContent h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.HeroContent p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.BenefitsList {
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
    align-items: flex-start;
}

.BenefitsList li {
    margin-bottom: 10px;
    font-size: 1rem;
}
.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.CTAButton {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.CTAButton:hover {
    background-color: #45a049;
}
