.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  max-height: 86.3%;
  width: 300px;
  color: white;
  padding-top: 5rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
  transition: transform 0.3s ease;
}

.closed {
  transform: translateX(-280px);
}

.open {
  background-color: #7f808e;
}

.sidebar-visibility-btn {
  width: 20px;
  height: 5rem;
  max-height: 5rem;
  margin-left: auto;
  position: absolute;
  top: 44%;
  transform: translateY(-50%);
  right: -18px;
  border: none;
  padding: 0;
  /*cursor: grab;*/
  z-index: 2;
  color: white;
}

.sidebar-content button:focus {
  outline: none;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  flex-grow: 1;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #9196a2 #7b869300;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.open .sidebar-content {
  opacity: 1;
}

.sidebar-content::-webkit-scrollbar {
  width: 12px;
}

.sidebar-content::-webkit-scrollbar-track {
  background: #7b869300;
}

.sidebar-content::-webkit-scrollbar-thumb {
  background-color: #9196a2;
  border-radius: 10px;
  border: 3px solid #7b869300;
}