.headerContainer {
	max-width: 1248px;
	height: 100px;
	background-color: #313745;
	display: flex;
}

.logoContainer {
	height: 100%%;
	padding: 15 px;
	margin-left: 15 px;
}

.logoContainer img {
    max-height: 70%;
    margin: 10px;
}

.buttonsContainer {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.buttonsContainer button:first-child {
    margin-left: rem;
}
