.answer-div {
  cursor: pointer;
}

/* Biała ramka po kliknięciu */
.answer-div.selected {
  border: 2px solid white;
}

/* Możesz również dodać stylizację na hover, np. zmieniając tło */
.answer-div:hover {
  background-color: #f0f0f0;
}