.answer-div {
  cursor: pointer;
  padding: 5px;
  margin: 5px 0;
  border-radius: 0.6rem;
  transition: box-shadow 0.2s ease;
}

.answer-div.selected {
  box-shadow: 0 0 6px 3px white;
  border-radius: 0.6rem;
}

.answer-div:hover {
  box-shadow: 0 0 6px 3px rgba(255, 255, 255, 0.5);
  border-radius: 0.6rem;
}

.answer-div.selected:hover {
  box-shadow: 0 0 6px 3px white;
  border-radius: 0.6rem;
}

.answer-input {
  width: 100%;
}

.answer-input div.user-answer-field h1 {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  margin: 0;
}

.answers-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.user-answer-field {
  width: 100%;
  max-width: 100vh;
  padding: 2rem 0;
  box-sizing: border-box;
}

.user-answer-field p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  margin: 0;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: #9196a2 #7b869300;
}

#type9-textarea {
  background-color: transparent;
  border: 1px solid white;
  width: 20rem;
  height: 2rem;
}
