.exercise-details-container {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: auto;
}

.description {
	display: inline;
}
.description > * {
	/*white-space: nowrap;*/
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.katex-display {
	margin: 0 0.5rem;
}