.exercise-details-container {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: auto;
}

.description {
	display: inline;
	text-wrap: wrap;
}

.description > * {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-wrap: wrap;
	text-align: left;
}

.katex-display {
	margin: 0 0.5rem;
}

.HOC-E-D-image img {
   	max-width: 30rem;
	max-height: 30rem;
}