.latex-table {
    margin-top: 1rem;
    display: flex;
    max-width: 80vh;
    overflow-x:  auto;
    scrollbar-width: thin;
    scrollbar-color: #9196a2 #7b869300;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
    padding: 20px;
    border: 1px solid #ddd;
    z-index: 1000;
}

.modal input {
    margin-left: 10px;
}

.modal button {
    margin-top: 10px;
    padding: 5px 10px;
}

table {
    border-collapse: collapse;
    width: auto;
    height: auto;
    max-height: 3rem;
}

td {
    border: #9e9e9e 1px solid;
    padding: 5px;
    max-height: 1.55rem;
}

.labels {
    text-wrap: nowrap;
    text-align: end;
    border: #9e9e9e 1px solid;
}

.labels p {
    margin: 0;
    padding: 0 0.6rem;
    border: #9e9e9e 1px solid;
}

.selected-label {
    background-color: #9e9e9e;
}

.latex-table::-webkit-scrollbar {
  width: 12px;
}

.latex-table::-webkit-scrollbar-track {
  background: #7b869300;
}

.latex-table::-webkit-scrollbar-thumb {
  background-color: #9196a2;
  border-radius: 10px;
  border: 3px solid #7b869300;
}